
.container {
    background-color: #cccbd7;
    padding: 1% 10%
}
#carouselExampleSlidesOnly {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
   
}
.card-img{
/* margin: 1%; */
width: 35vw;
height: 85vh;
}