
<div class="container">
  <h1>Nour Elhuda Essamaali Website</h1>
  <p>Welcome to donnia world. We ask Allah to make you grow in islam and make you a great person </p>

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div  class="card" style="width: 18rem;">

        <img src={{images[index]}} class="d-block w-300 card-img" alt="...">
        <!-- <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div> -->
      </div>
    </div> 
</div> 
